<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10">
            <div class="card" style="width: 70rem">
                <div class="card-body text-center">
                    <span class="tittle">{{ titulo }}</span>
                    <form class="mt-3" [formGroup]="empleadoForm" (ngSubmit)="crearEmpleado()">
                        <!--
                        <div class="mb-3">
                            <input type="file" formControlName="img" class="form-control" placeholder="Ingresar foto">
                        </div>
                        -->
                        <div class="mb-3">
                            <label for="marca">Nombre</label>
                            <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
                            <div class="text-danger" *ngIf="empleadoForm.get('nombre')?.hasError('required') && empleadoForm.get('nombre')?.touched">
                                <span>El nombre del empleado <strong>ES OBLIGATORIO</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">Apellido Paterno</label>
                            <input type="text" formControlName="aPaterno" class="form-control" placeholder="Apellido Paterno">
                            <div class="text-danger" *ngIf="empleadoForm.get('aPaterno')?.hasError('required') && empleadoForm.get('aPaterno')?.touched">
                                <span>El Apellido  <strong>ES OBLIGATORIO</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">Apellido Materno</label>
                            <input type="text" formControlName="aMaterno" class="form-control" placeholder="Apellido Materno">
                            <div class="text-danger" *ngIf="empleadoForm.get('aMaterno')?.hasError('required') && empleadoForm.get('aMaterno')?.touched">
                                <span>El Apellido  <strong>ES OBLIGATORIO</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">RFC</label>
                            <input type="text" formControlName="rfc" class="form-control" placeholder="RFC">
                            <div class="text-danger" *ngIf="empleadoForm.get('rfc')?.hasError('required') && empleadoForm.get('rfc')?.touched">
                                <span>El RFC del empleado <strong>ES OBLIGATORIO</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">Número de Télefono</label>
                            <input type="tel" formControlName="telefono" class="form-control" placeholder="Ingresar número de Teléfono">
                            <div class="text-danger" *ngIf="empleadoForm.get('telefono')?.hasError('required') && empleadoForm.get('telefono')?.touched">
                                <span>Ingresar <strong>NÚMERO DE TELÉFONO</strong> del empleado</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">Correo electrónico</label>
                            <input type="email" formControlName="email" class="form-control" placeholder="Correo Electrónico">
                            <div class="text-danger" *ngIf="empleadoForm.get('email')?.hasError('required') && empleadoForm.get('email')?.touched">
                                <span>Ingresar  <strong>CORREO ELECTRÓNICO</strong> del empleado</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">Estado</label>
                            <select class="form-select" formControlName="estado" aria-label="Default select example">
                                <option selected>Estado</option>
                                <option value="Guanajuato">Guanajuato</option>
                            </select>
                            <div class="text-danger" *ngIf="empleadoForm.get('estado')?.hasError('required') && empleadoForm.get('estado')?.touched">
                                <span>Por favor selecciona <strong>EL ESTADO DE RECIDENCIA</strong> del empleado</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">Ciudad</label>
                            <select class="form-select" formControlName="ciudad" aria-label="Default select example" aria-placeholder="Ciudad">
                                <option selected>Ciudad</option>
                                <option value="San Luis de la Paz">San Luis de la Paz</option>
                                <option value="Dr Mora">Dr Mora</option>
                                <option value="Dolores H">Dolores H</option>
                                <option value="León">León</option>
                                <option value="San Felipe">San Felipe</option>

                            </select>
                            <div class="text-danger" *ngIf="empleadoForm.get('ciudad')?.hasError('required') && empleadoForm.get('ciudad')?.touched">
                                <span>Por favor selecciona <strong>LA CIUDAD DE RECIDENCIA</strong> del empleado</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">Departamento</label>
                            <select class="form-select" formControlName="departamento" aria-label="Default select example" aria-placeholder="Selecciona el Departamento">
                                <option selected>Departamento</option>
                                <option value="Tecnologías de la Información">Tecnologías de la Información</option>
                                <option value="Logistica">Logistica</option>
                                <option value="Ingenieria">Ingenieria</option>
                                <option value="Planeación">Planeación</option>
                                <option value="Recursos Humanos">Recursos Humanos</option>
                                <option value="Compras">Compras</option>
                                <option value="Marketing">Marketing</option>
                            </select>
                            <div class="text-danger" *ngIf="empleadoForm.get('departamento')?.hasError('required') && empleadoForm.get('departamento')?.touched">
                                <span>Por favor selecciona <strong>EL DEPARTAMENTO DE INGRESO</strong> del empleado</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">Supervisor</label>
                            <select class="form-select" formControlName="supervisor" aria-label="Default select example">
                                <option selected>Supervisor</option>
                                <option value="José Salvatierra">José Salvatierra</option>
                                <option value="Erika Morales">Erika Morales</option>
                                <option value="Felipe García">Felipe García</option>
                                <option value="Hernan Díaz">Hernan Díaz</option>
                                <option value="María Hernández">María Hernández</option>
                                <option value="Francisco Gonzalez">Francisco Gonzalez</option>
                            </select>
                            <div class="text-danger" *ngIf="empleadoForm.get('supervisor')?.hasError('required') && empleadoForm.get('supervisor')?.touched">
                                <span>Por favor selecciona <strong> EL SUPERVISOR ASIGNADO</strong> del empleado</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marca">Puesto</label>
                            <select class="form-select" formControlName="puesto" aria-label="Default select example">
                                <option selected>Puesto</option>
                                <option value="Programador">Programador</option>
                                <option value="Técnico de TI">"Técnico de TI"</option>
                                <option value="Ingeniero de SMT">Ingeniero de SMT</option>
                                <option value="Program Manager">Program Manager</option>
                                <option value="Gerente de producción">Gerente de producción</option>
                                <option value="Gerente de planta">Gerente de planta</option>
                                <option value="Operador de producción">"Operador de producción</option>
                            </select>
                            <div class="text-danger" *ngIf="empleadoForm.get('puesto')?.hasError('required') && empleadoForm.get('puesto')?.touched">
                                <span>Por favor selecciona <strong> EL PUESTO ASIGNADO</strong> del empleado</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/listar-empleados" class="btn btn-secondary btn-lg float-start">Volver</button>
                            <button type="submit"  style="background-color: #8dc640;border: #8dc640;" id="aceptar" type="submit" class="btn btn-success btn-lg float-end">Aceptar</button>                        
                        </div>
                    </form>                    
            </div>
        </div>
    </div>
</div>
