<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..\assets\imagen5.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..\assets\image1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..\assets\image2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..\assets\imagen6.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
<button type="button" class="btn" style="background-color: #f44336;" routerLink="/listar-empleados">
    <i id="ibtn" class="fa-solid fa-users-gear button-icon" style="color: #ffff;"></i><br>
          Empleados
</button>

<button type="button" class="btn" style="background-color:#83e55c" routerLink="/listar-recurso">
    <i id="ibtn" class="fa-solid fa-box-open button-icon" style="color: #ffff;"></i><br>
    Almacén
</button>

<button class type="button" class="btn" style="background-color: #ff9800" routerLink="/asignacion">
    <i id="ibtn" class="fa-solid fa-clipboard-check button-icon" style="color: #ffff;"></i><br>
    Asignación
</button>

